@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Monofett&family=Sora:wght@400;600&family=Source+Code+Pro:ital,wght@0,400;1,500&display=swap");

body,
html {
  font-family: "Sora", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #272424;
}

.container--sidebar {
  flex: 1;
}

.container--main {
  flex: 3;
  overflow: auto;
  /* height: 100%; */
  align-items: stretch;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  /* background-color: #121111; */
}

.chat {
  display: flex;
  height: 50px;
  margin: 10px;
  border: 3px solid black;
  background-color: black;
}

.chatBar {
  flex: 1;
  font-size: large;
  color: white;
  background-color: black;
}
