.container {
  display: flex;
  height: 100vh;
  /* background-color: #000000; */
}

.container--sidebar {
  flex: 1;
}

.container--main {
  flex: 3;
  overflow: auto;
  /* height: 100%; */
  align-items: stretch;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  /* background-color: #121111; */
}
